{% extends "layout.html" %}
{% block bodycontent %}
				<h1>Gallery</h1>
        <h2>Past Uploads</h2>
        <p>Take a look at other people's music images.</p>
				<h1>Gallery</h1>
        <h2>Images v0</h2>
				<p>These images were created with different songs and previous versions of my code.</p>
				<p><img src= "https://s3.amazonaws.com/visioning.finalproject/testtest.png" ></p>
				<p><img src= "https://s3.amazonaws.com/visioning.finalproject/test.png" ></p>
				<p><img src= "https://s3.amazonaws.com/visioning.finalproject/haha.png" ></p>
				<p><img src= "https://s3.amazonaws.com/visioning.finalproject/luck.png" ></p>
				<h2 id="comparison">Human // Computer</h2>
				<p>Several people were asked to choose a song and draw a image accordingly.</p>
				<p>From left to right: Earlier versions till final one </p>
				<p><u>611: Bob Dylan - Blowin in the Wind</u></p>
				<p><img src= "https://s3.amazonaws.com/visioning.finalproject/blowinginthewind.png" >
					<img src= "https://s3.amazonaws.com/visioning.finalproject/blowinginthewind2.png" >
					<img src= "https://s3.amazonaws.com/visioning.finalproject/blowinginthewind3.png" >
					<img src= "https://s3.amazonaws.com/visioning.finalproject/blowinginthewind4.png" >
					<img src= "https://s3.amazonaws.com/visioning.finalproject/blowinthewind5.png" >
					<img src= "https://s3.amazonaws.com/visioning.finalproject/blowinginthewind6.png" >
					<img src= "https://s3.amazonaws.com/visioning.finalproject/blowinginthewind7.png" >
					<img src= "https://s3.amazonaws.com/visioning.finalproject/dylanblowinginthewind611.jpeg" ></p>


{% endblock %}
